@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #001524;
  --brand-orange: #ff7d00;
  --brand-teal: #15616d;
  --brand-gold: #ffcc66;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), sans-serif;
  --font-display: var(--font-cal-sans), sans-serif;
  --font-amoria: var(--font-amoria), serif;
}

/* Body Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  h1,
  h2,
  .font-display {
    font-family: var(--font-display);
  }
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Amoria Font */
.font-amoria {
  letter-spacing: 0.025em;
}
